body {
    font-family: sans-serif;
    margin: 0;
}

div.header, div.footer {
    padding: 0;
}

div.content {
    padding: 0 8px;
}

h1, h2 {
    color: #ea5b0c;
}

th, td {
    text-align: left;
    padding: 0 4px;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 8px;
    overflow: auto;
    background-color: #eeeeee;
}

ul.navbar li {
    float: right;
}

ul.navbar li.left {
    float: left;
}

ul.navbar li a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    padding: 12px 8px;
}

img.logo {
    height: 40px;
}

ul.navbar li a.logo {
    padding: 0;
    font-size: 0;
}
