{% load static %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
  <head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static "css/eosidp.css" %}">
    <link rel="icon" type="image/png" href="{% static "img/favicon-32x32.png" %}">
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    <div class="header">
      <ul class="navbar">
        <li class="left">
          <a class="logo" href="{% url 'main:index' %}">
            <img class="logo" src="{% static "img/logo.svg" %}" alt="Endless">
          </a>
        </li>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'account_logout' %}">Logout</a>
        </li>
        <li>
          <a href="{% url 'main:profile' %}">Profile</a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'account_signup' %}">Signup</a>
        </li>
        <li>
          <a href="{% url 'account_login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    <div class="footer">
    </div>
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
